.App {
  font-family: sans-serif;
  text-align: left;
  margin: 10px;
}

.mobileManu ul,
.mobileOs ul {
  text-align: left;
}

.mobileManu ul>li:nth-child(1),
.mobileManu ul>li:nth-child(2) {
  list-style-type: square;
}

.mobileManu ul>li:last-child {
  list-style-type: circle;
}